<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaming.wms.stat.mapper.StoreGoodsStatMapper">
    <select id="myPage" resultType="com.jiaming.wms.stat.bean.vo.PageStoreGoodsStatDataVO">
        SELECT t1.id,
        t1.goods_id,
        t1.store_id,
        t1.in_total,
        t1.out_total,
        t1.outting_total,
        t1.update_time,
        t1.create_time,
        t2.name store_name,
        t3.name goods_name
        FROM wms_store_goods_stat t1
        LEFT JOIN wms_store t2 on t1.store_id = t2.id
        LEFT JOIN wms_goods t3 on t1.goods_id = t3.id
        WHERE 1 = 1
        <if test="filter.storeId != null">
            AND t1.store_id = #{filter.storeId}
        </if>
        <if test="filter.goodsId != null">
            AND t1.goods_id = #{filter.goodsId}
        </if>
        ORDER BY t1.create_time DESC
    </select>

    <select id="getGoods" resultType="com.jiaming.wms.stat.bean.vo.StoreGoodsStatDataVO">
        SELECT t1.store_id,
               t1.in_total,
               t1.out_total,
               t1.outting_total,
               t2.id,
               t2.code,
               t2.brand_id,
               t2.pack_id,
               t2.taste_id,
               t2.`name`,
               t2.`status`,
               t2.price,
               t2.inner_price,
               t2.update_time,
               t2.create_time
        FROM wms_store_goods_stat t1
        JOIN wms_goods t2 ON t1.goods_id = t2.id
        WHERE t1.store_id = #{storeId}
    </select>

    <update id="lockGoodsNum">
        UPDATE wms_store_goods_stat
        SET outting_total = outting_total + #{goodsNum}
        WHERE store_id = #{storeId} AND goods_id = #{goodsId}
    </update>

    <update id="updateOutTotal">
        UPDATE wms_store_goods_stat
        SET outting_total = outting_total - #{goodsNum}, out_total = out_total + #{goodsNum}
        WHERE store_id = #{storeId} AND goods_id = #{goodsId}
    </update>

    <update id="reduceOuttingTotal">
        UPDATE wms_store_goods_stat
        SET outting_total = outting_total - #{goodsNum}
        WHERE store_id = #{storeId} AND goods_id = #{goodsId}
    </update>

    <update id="reduceOutTotal">
        UPDATE wms_store_goods_stat
        SET out_total = out_total - #{goodsNum}
        WHERE store_id = #{storeId} AND goods_id = #{goodsId}
    </update>

    <update id="plusOutTotal">
        UPDATE wms_store_goods_stat
        SET out_total = out_total + #{goodsNum}
        WHERE store_id = #{storeId} AND goods_id = #{goodsId}
    </update>

    <select id="stat" resultType="com.jiaming.wms.stat.bean.vo.StockCheckStatDataVO">

    </select>
</mapper>